*.sublime-workspace
*-lock.json
*.nogit.*
*.ini
/.editorconfig
/.cache/
app/
log/
installer/
bower_components/
node_modules/
build/
ffmpeg/**/*.zip
ffmpeg/**/*.dll
src/pack/
test/
nwjs-ffmpeg-prebuilt/
!app/package.json
!src/pack/*.radiopack
