**/.*
**/*.ini
/favicon.ico
/favicon.png
/package-lock.json
/test/**/*
/tests/**/*
/src/pug/*.css
/src/less/fonts/*.*
bin/**/*
cache/**/*
installer/**/*
node_modules/**/*
bower_components/**/*
package/node_modules/**/*
package/assets/**/*
package/*.html
!**/.gitignore
!**/.gitattributes
