.template#addstation(style="display: none !important;")
	.psmodal__addstation
		.station-dialog
			.div--inputs
				span.modal__add__statio_nname
				input.station_name(type="text")
				span.modal__add__statio_stream
				input.station_stream(type="text")
				input.station_id(type="hidden")
			.div--file.radioapp-picture
			.div--crop
