.appradio
	.appradio__wrapper
		.header
			span#volchange
			.header__canvas
				canvas#canvas.canvas(height="120" width="400")
			.divider
				input#volume(type="range" min="0" max="1" value="0.3" step="0.01")
		.main
			ul.appradio__list
		.footer
			span
			span
				|Developer by 
				a(href="https://projectsoft.ru/" target="_blank" title="https://projectsoft.ru/")
					|ProjectSoft
			span
				i.radioapp-settings