.template#stationitem(style="display: none !important;")
	li.station
		.station__wrapper
			span.st__btn
				img.icon(src="favicon.png")
				span.btn
			span.st__name
				span.st__name__txt
			span.st__sort
				i.st__sort__hand
		span.svg

