doctype html
html
	head
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		title
			|Ваше Радио
		link(rel="stylesheet" href="css/main.css" type="text/css")
	body.body.preload
		include templates/header
		include templates/addstation
		include templates/stationitem
		include templates/appradio
			include templates/settings_panel
		script(type="text/javascript" src="js/butterchurn.js")
		script(type="text/javascript" src="js/main.js")
