* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	color: #333333;
}
.page {
	min-height: 100vh;
	background-image: data-uri("lazy_bg.svg"), radial-gradient(circle, #FFA966, #FF7000);
	background-repeat: no-repeat;
	background-position: bottom center, center center;
	background-attachment: fixed, fixed;
	background-size: cover, auto;
}