* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	color: #333333;
}
.page {
	min-height: 100vh;
	background-image: radial-gradient(circle, #FFA966, #FF7000), data-uri("lazy_bg.svg");
	background-repeat: no-repeat;
	background-position: center center, bottom center;
	background-attachment: fixed;
}