doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#" class="no-js")
	head
		title
			|Your radio / Ваше Радио (Node Webkit JavaScript)
	body
		h1
			|Your radio / Ваше Радио (Node Webkit JavaScript)